body {
   text-align: center;
   background-image: url(../img/background.png);
   background-size: cover;
   background-repeat: no-repeat;
}

/*.Nav {
   background-image: url(./img/backgroundNav.png);
   display: flex;
   border-radius: 10px;
   border: 2px black solid;
   padding: 0 2em 0.8em ;
   margin: 1em 10em 0 10em;
   align-items: center; 
}*/


